<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - RERCaptcha</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <header class="container">
       <h1 class="pb-2 border-bottom">RERCaptcha</h1>
    </header>
    <section class="container">
    {% block content %}{% endblock %}
    </section>
    <script>
      window.CAP_CUSTOM_WASM_URL = "{{ capjs_public_url }}/assets/cap_wasm.js";
    </script>
    <script src="{{ capjs_public_url }}/assets/widget.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>