<!doctype html>
<html lang="it">
  <head>
      {% block title %}<title>RERCaptcha DEMO</title>{% endblock %}
      <link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
      <style>
        cap-widget {
          --cap-color: #000;
        }
      </style>
  </head>
  <body>
    <header class="container">
       <h1 class="pb-2 border-bottom">RERCaptcha</h1>
    </header>
    <section class="container">
    {% block content %}{% endblock %}
    </section>
    <script nonce="{{ request.csp_nonce }}">
      window.CAP_CUSTOM_WASM_URL = "{{ capjs_public_url }}/assets/cap_wasm.js";
    </script>
    <script src="{{ capjs_public_url }}/assets/widget.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>