{% extends 'base.html' %}

{% block content %}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
	<div class="feature col">
		<div
			class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
		</div>
		<h2 class="fs-2 text-body-emphasis">Form protetto da Captcha visibile con label in italiano</h2>
		<p></p>
		<a href="/visible-it" class="icon-link">
			Vai alla demo Captcha visibile (italiano)</a>
	</div>
	<div class="feature col">
		<div
			class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
		</div>
		<h2 class="fs-2 text-body-emphasis">Form protetto da Captcha invisibile</h2>
		<p></p>
		<a href="/invisible" class="icon-link">
			Vai alla demo Captcha invisibile</a>
	</div>
</div>
{% endblock %}